.btn {
    display: block;
    width: 100%;
    font-size: 20px;
    line-height: 1;
    font-weight: 300;
    color: blanchedalmond;
    background-color: rgb(8, 8, 8);
    padding: 4px 1px;
    margin: 10px auto;
    border: 0;
    outline: none;
    cursor: pointer;

}